---
layout: default
---
<span id="top"></span>
<div class="home">

{% assign justTags = '' | split: '' %}
{% for tagclump in site.tags %}
{% assign tag = tagclump | first %}
{% assign justTags = justTags | push: tag %}
{% endfor %}

{% assign stags = justTags | sort %}
{% for t in stags %}
  <a class="btn btn-default" href="#{{ t }}" role="button">{{ t }}</a>
{% endfor %}<br>
<br>

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<div class="panel panel-default" id="{{ t }}">
  <div class="panel-heading">
    <a href="#top"><span class="badge pull-right">top</span></a>
    <h3 class="panel-title">{{ t | downcase }}</h3>
  </div>
  <div class="panel-body">
    <ul>
{% for post in posts %}
  {% if post.tags contains t %}
      <li>
        <a href="{{ post.link }}">{{ post.title }}</a><!-- {{ posts.tags }} -->
      </li>
  {% endif %}
{% endfor %}
    </ul>
  </div>
</div>
{% endfor %}


</div>
