---
layout: default
---
<span id="top"></span>
<div class="home">

{%- assign justTags = '' | split: '' -%}
{%- for tagclump in site.tags -%}
{%- assign tag = tagclump | first -%}
{%- assign justTags = justTags | push: tag -%}
{%- endfor -%}

{%- assign stags = justTags | sort -%}
{% for t in stags %}
{%- assign c = site.tags[t].size -%}
  <a class="btn btn-outline-secondary" href="#{{ t }}" role="button">{{ t }} <span class="badge badge-pill badge-info">{{ c }}</span></a>
{% endfor -%}<br>
<br>

{%- for tag in site.tags -%}
  {%- assign t = tag | first -%}
  {%- assign posts = tag | last -%}

<div class="card" id="{{ t }}">
  <div class="card-header">
    <a href="#top" class="badge badge-pill badge-secondary float-right">top</a>
    <h4 class="mb-0">{{ t | downcase }}</h4>
  </div>
  <div class="card-body">
    <ul class="mb-0">
{% for post in posts %}
      <li><a href="{{ post.link }}">{{ post.title }}</a></li>
{%- endfor -%}
    </ul>
  </div>
</div>
{%- endfor -%}

</div>
