---
layout: default
---
<span id="top"></span>
<div class="home">

{%- assign justTags = '' | split: '' -%}
{%- for tagclump in site.tags -%}
{%- assign tag = tagclump | first -%}
{%- assign justTags = justTags | push: tag -%}
{%- endfor -%}

{%- assign stags = justTags | sort -%}
{% for t in stags %}
{%- assign c = site.tags[t].size -%}
  <a class="btn btn-outline-secondary mb-1" href="#{{ t }}" role="button">{{ t }} <span class="badge badge-pill badge-info">{{ c }}</span></a>
{% endfor -%}<br>
<br>

{%- for stag in stags -%}
{%- assign tag_posts = site.tags[stag] -%}
<div class="card mb-2" id="{{ stag }}">
  <div class="card-header bg-secondary text-white">
    <a href="#top" class="badge badge-pill badge-dark float-right text-white">top</a>
    <h4 class="mb-0">{{ stag | downcase }}</h4>
  </div>
  <div class="card-body">
    <ul class="mb-0">
{% for post in tag_posts %}
      <li><a href="{{ post.link }}">{{ post.title }}</a></li>
{%- endfor -%}
    </ul>
  </div>
</div>
{%- endfor -%}

</div>
